@import url('https://fonts.googleapis.com/css?family=Days+One');
      @import url('https://fonts.googleapis.com/css?family=Nunito');
      body{
        font-family:'Days One','Nunito',sans-serif;
        background-color: rgb(241, 235, 245);
        min-height: 100%;
      }
      header{
        background-color: rgb(199, 150, 242);
        width: 100%;
        height:8rem;
        margin:0;
        padding:0;
        
      }
      footer{
        background-color: rgb(199, 150, 242);
        width: 100%;
        height:21rem;
        
      }
      nav{
        background-color: rgb(199, 150, 242);
        height:8rem;
        width: 100%;
        position:fixed;
        margin:0;
        
      }
      nav h1{
        float:left;
        display: inline;
        font-weight: 400;
        font-size: 2rem;
        color: black;
        padding:2rem;
        position:absolute;
        margin: 0 auto;
        margin-left:5rem;
        margin-bottom: 2rem;
      }
      nav ul{
        float:right;
        list-style-type:none;
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        margin:0;
        margin-top:2rem;
        padding:1rem; 
       

      }
      nav li{
        padding:0.5rem;
        color:white; 
        margin-top: 2rem;
      }
      nav li a{
        text-decoration: none;
        color:white; 
        font-size:1.2rem;

      }
      nav li:hover{
        text-decoration: underline;
        opacity: 0.5;
      }
      main{
        font-family:'Nunito',sans-serif;
        width:100%;
        margin:2rem auto;  
      }
      
      .profile-pic{
        border-radius: 100%;
        border:0.5rem solid rgb(199, 150, 242);
        width:25%;
        height:15rem;
        margin:2rem auto;
        margin-left:10rem;
      }  
      .dp{
        width:80%;
        display:flex;
        justify-content: center;
        margin:0 auto;
      }  
      .about{
        margin:5rem;
      }
      .about h1{
        font-weight: 100;
        width:80%;
      }
      .about h3{
        color:rgb(199, 150, 242);
        font-weight: 50;
        width:80%;
      }
      .about h4{
       width:80%;
       font-weight:10;

      }
      .projects-body{
        width: 85%;
        margin:5rem auto;
      }
      .projects-flex{
        
        display:flex;
        flex-wrap: wrap;
        
        
      }
      .projects-body h1, .ex h1{
        text-align: center;  
      }
      .project1,.project2,.project3,.project4,.project5{
        width:25%;
        padding:1rem;
        background-color: rgb(230, 216, 242);
        height:20rem;
        border-radius: 10%;
        margin:0 auto;
        margin-top:1rem;
        margin-bottom:1rem;
        
      }
      .projects-flex h2{
        color:rgb(68, 9, 119);
        text-align: center;
        margin:10%;
        font-size: 1.4rem;

      }
      .image-container{
        width:90%;
        height:50%; 
        margin:0 auto; 
        
      }
      .projects-flex img{
        border-radius: 100%;
        border:0.5rem solid rgb(199, 150, 242);
        width:50%;
        height:90%;
        margin:0 auto; 
        margin-left:20%; 
      }
      .hidden1,.hidden2,.hidden3,.hidden4,.hidden5{
        position:relative;
        visibility:hidden;
        width:100%;
        padding:1rem;
        background-color: white;
        height:20rem;
        border-radius: 10%;
        margin:0 auto;
        margin-top:1rem;
        margin-bottom:1rem;
        top:10rem;
        transition-property: top;
        transition-duration: 1s;
        
      }
      .project1:hover .hidden1,.project2:hover .hidden2,
      .project3:hover .hidden3,.project4:hover .hidden4,
      .project5:hover .hidden5{
        visibility:visible;
        top:-65%;
      }
      
      .hidden1 h3,.hidden2 h3,.hidden3 h3,
      .hidden4 h3,.hidden5 h3,
      .hidden-ex1 h3,.hidden-ex2 h3,
      .hidden-ex3 h3{
        font-family:'Nunito',sans-serif;
        font-weight: 50;
      }
      .link-project{
        margin-top:30%;
      }
      .hidden1 a,.hidden2 a,
      .hidden3 a,.hidden4 a,
      .hidden5 a{
        text-decoration: none;
        padding:5%;
        border-radius:10%;
        background-color: rgb(148, 46, 236);
        color:white;
        font-size: 1.2rem;
        
      }
      .hidden1 a:hover,.hidden2 a:hover,
      .hidden3 a:hover,.hidden4 a:hover,
      .hidden5 a:hover{
        opacity:0.5;
      }
      .ex{
        width: 85%;
        margin:7rem auto;
      }
      .ex-flex{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

      }
      .ex1,.ex2,.ex3{
        width:45%;
        padding:1rem;
        background-color: rgb(230, 216, 242);
        height:20rem;
        border-radius: 10%;
        margin:0 auto;
        margin-top:1rem;
        margin-bottom:1rem;
        
      }
      .hidden-ex1,.hidden-ex2,.hidden-ex3{
        position:relative;
        visibility:hidden;
        width:100%;
        padding:1rem;
        background-color: white;
        height:20rem;
        border-radius: 10%;
        margin:0 auto;
        margin-top:1rem;
        margin-bottom:5rem;
        top:10rem;
        transition-property: top;
        transition-duration: 1s;
        
      }
      .ex1:hover .hidden-ex1,.ex2:hover .hidden-ex2,
      .ex3:hover .hidden-ex3{
        visibility:visible;
        top:-100%;
      }
      .image-container-ex{
        width:80%;
        height:90%; 
        margin:auto;
      }
      .image-container-ex img{
        width:100%;
        height:100%;
      }
     .flex-icons{
       display:flex;
       margin-right:0.5rem;
       padding:1rem;
     }
     .flex-icons img{
      width: 3%;
      height: 70%;
      padding: 0.5rem;
      float: right;
      
     }

     footer h3{
      font-family:'Nunito';
      font-size:2rem;
      color:white;
      padding-left:3rem;
      padding-top:0.5rem;
     }
     .flex-icons img:hover{
       opacity:0.5;
     }
     @media (max-width:1150px) {
      .dp{
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin:0 auto;
      }  
      .profile-pic{
        border-radius: 100%;
        border:0.5rem solid rgb(199, 150, 242);
        width:50%;
        height:0%;
        margin:2rem auto;
        margin-left:auto;
      }  
      .about{
        margin:0 auto;
      }
      .about h1{
        text-align: center;
        font-weight: 100;
        width:80%;
        margin:0 auto;
      }
      .about h3{
        text-align: center;
        color:rgb(199, 150, 242);
        font-weight: 50;
        width:80%;
        margin:0 auto;
      }
      .about h4{
       text-align: center;
       width:80%;
       font-weight:10;
       margin:0 auto;
       font-weight: 10;
       margin:0 auto;

      }
      nav{
        background-color: rgb(199, 150, 242);
        height:8rem;
        width: 100%;
        margin-right:0.1rem;
       
      }
      nav li a{
        text-decoration: none;
        color:white; 
        font-size:0.9rem;

      }
      nav ul{
        padding:0;
      }
      .projects-flex{  
        display:flex;
        flex-direction: column;
         
      }
      .project1,.project2,.project3,.project4,.project5, .ex1,.ex2,.ex3{
        width:80%;
        padding:1rem;
        background-color: rgb(230, 216, 242);
        height:20rem;
        border-radius: 10%;
        margin:0 auto;
        margin-top:1rem;
        margin-bottom:1rem;
        
      }
      .image-container-ex{
        width:80%;
        height:60%; 
        margin:auto;
        margin:auto auto;
        margin-top:3rem;
      }
      .ex1:hover .hidden-ex1,.ex2:hover .hidden-ex2,
      .ex3:hover .hidden-ex3{
        visibility:visible;
        top:-85%;
      }
      .hidden-ex1 h3,.hidden-ex2 h3,
      .hidden-ex3 h3{
        font-family:'Nunito',sans-serif;
        font-weight: 50;
        font-size:0.85rem;
      }

      footer h3{
      font-family:'Nunito';
      font-size:1.5rem;
      
      color:white;
      padding-left:3rem;
      padding-top:0.5rem;

     }
     .flex-icons{
       margin-top:5rem;
       display:flex;
       height:25%;
       float:right;
     }
     .flex-icons img{
      width: 20%;
      height: 100%;
      padding: 0;
      margin: 0 auto;
      margin-right: 0.5rem;
     }
     
     }
